@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap'); /*importas la tipografia raleway de google*/

:root{ /* inicializacion de variables*/
    --background: linear-gradient(135deg, /*135deg debe ir junto, si no no funciona*/ #2525257e 0%, #4b5ba298 100%); /* 7e representa el valor alfa del color, da transparencia al gradiente*/
    --color-primary: #667eea;
    --color-secondary: #10274a;
    --boton-padding: 20px 40px;
}

body{
    font-family: 'Raleway', sans-serif;
}

.contenedor{
    width: 90%;
    margin: 0 auto;
    overflow: hidden; /*todo lo que salga del contenedor se escondera, no sera visible*/
    padding: 80px 0;
    max-width: 1200px;
}

.subtitulo{
    color: var(--color-primary); /* uso de la variable que esta en root*/
    font-size: 2.5rem;
    margin-bottom: 35px;
    margin-top: revert;
}

.hero{
    height: 100vh;
    background-image: var(--background), url('../assets_indicadores_bid/imagen1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}

.hero .contenedor{
    padding: 0;
}

.nav{
    display: flex;
    justify-content: space-between; /*todos los elemnetos iran al final del contenedor*/
    height: 70px;
    align-items: center;
    font-weight: 700;
}

.nav--footer{
    font-weight: 300;
    justify-content: flex-start; /*lo mismo que flex end, solo que iran al inicio del contenedor*/
}

.nav__objetos{
    color: #F1F1F1;
    text-decoration: none;
    margin-right: 15px;
    padding: 10px 15px;
    font-weight: inherit /* hereda los parametros de la fuente del padre*/
    
}

.nav__objetos:hover,/*plantilla*/
.nav__objetos--cta:focus{
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
          color: var(--color);
    -webkit-transition: 0.25s;
  transition: 0.25s;
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  border-color: var(--hover);
  color: #fff; /*cambia el color de letra*/
  --hover: #009910; /*cambia el color al posicionarse en el boton*/
}

.nav__objetos--cta:hover,/*plantilla*/
.nav__objetos--cta:focus{
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
          color: var(--color);
    -webkit-transition: 0.25s;
  transition: 0.25s;
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  border-color: var(--hover);
  color: #fff; /*cambia el color de letra*/
  --hover:var(--color-primary) /*cambia el color al posicionarse en el boton*/
}

.nav__objetos--footer{
    padding: 10px;
}

.hero__contenedor{
    display: flex;
    height: calc(100vh - 70px);
    align-items: center;
    color: #fff;
}

.hero__textos{
    width: 80%;
    margin-bottom: 50px;
}

.hero__titulo{
    font-size: 3.2rem;
    color: #fff;
}

.hero__subtitulo{
    font-size: 2rem;
    font-weight: 300;
    margin: 15px 0;
    color: #ffffff;
}

.hero__cta{
    display: inline-block;
    background: #fff;
    padding: var(--boton-padding);
    color: var(--color-primary);
    text-decoration: none;
    border-radius: 40px;
}

.hero__cta{ /*plantilla*/
    color: #000000;
  background: transparent;
  border: 3px solid #10274a;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.hero__cta:hover{ /*plantilla*/
    background: #ffffff;
  color: #000000;
  border: 3px solid #ff0000;
   -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.hero__cta:hover >a{ /*plantilla*/
    color: #ffffff;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.hero__cta:active{ /*plantilla*/
    -webkit-transform: translate(5px, 5px);
  transform: translate(5px, 5px);
}

.hero__wave{
    position: absolute;
    bottom: 0; /*la ola se posiciona abajo de la imagen*/
    left:  0; /*se pasa a la izquierda*/
    width: 100%;
    height: 100px;
}

/*PARRAFOS Y TEXTOS*/
.acerca__parrafo{
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: 300;
}

.tamaño__grafica{
    align-items: center;
    justify-content: center;
}

/*PAIS MAYOR ACCESO MENOR ACCESO*/
.parte{
    min-height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 80px;
    justify-items: center; /* para centrar todo vertical y horizontalmente*/
    align-items: center; /* para centrar todo vertical y horizontalmente*/
}

.parte__img{
    text-align: center;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);*/
}

.parte__img--left{
    text-align: left;
}

.parte__foto{
    max-width: 95%; /*manipula el tamaño de la imagen del smart campus propuestas*/
    object-fit: cover;
}

.parte__parrafo{
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: 300;
}

/*footer*/

.footer{
    background: var(--color-secondary);
}

.footer__grid{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 20px;
    align-items: center;
}

.footer__titulo{
    font-weight: 400;
    color: #fff;
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
}

.footer__iconos{
    display: flex;
    justify-content: space-between; /*los iconos se distribuyen equitativamente*/
    object-fit: contain;
}

.footer__contenedor-iconos{
    display: inline-block; /*porque donde estan los iconos en el html son span, los cuales son elementos en linea*/
    width: 60px;
    height: 60px;
    color: #fff;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50% ; /*redondea los elementos*/
}

.footer__icono{
    color: inherit; /*color heredado de la clase padre(el blanco)*/
    font-size: 30px;
    text-decoration: none;

}

.fab.footer__icono{ /*clase fab es la clase padre de footer__iconos*/
    line-height: 60px; /*centra los elementos, debe tener el mismo heigth del padre(contenedor__iconos)*/

}